body {
    margin: 0;
    background: radial-gradient(
            96.74% 276.79% at 3.59% 5.28%,
            #f0f4ff 0%,
            #a5b6ee 100%
        )
        no-repeat;
    height: 100vh;
}

.wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

.timer {
    text-align: center;
}

.timer-box {
    background: linear-gradient(144.07deg, #5572bb 2.13%, #374b7c 102.97%);
    box-shadow: 20px 20px 60px 10px rgba(55, 75, 124, 0.4);
    border-radius: 16px;
}

label{
    color: white;
}

.timer-box{
    width: 400px;
    height: 360px;
}
input{
    display: block;
}

.timer-cnt{
    display: flex;
    justify-content: center;
    text-align: center;
}

.timer-cnt input{
    width: 50px;
    
}

.btn {
    margin-top: 30px;
    text-align: center;
}